html {
  height: 100%;
  width: 100%;
  background-color: #f2ea02;
}



h1 {
  text-align: center;
  font-size: 50px;
  color: blue;
}

h2 {
  text-align: left;
  font-size: 30px;
  color: black;
}


html {
  height: 100%;
  width: 100%;
}

@keyframes colorChange {
  0% {
    color: blue;
  }
  33% {
    color: red;
  }
  66% {
    color: green;
  }
  100% {
    color: blue;
  }
}
h1 {
  text-align: center;
  animation: colorChange 5s infinite; /* Change the duration (5s) as needed */
}

img {
  width:50%;
  display: block;
  margin: 0 auto;
}

a {
  color: darkblue; 
  display: block;
  margin: 0 auto;
  text-align: center; /* Center the text within the <a> element */
}

